
<style>
main{
    font-size: auto;
    font-family: monospace;
    padding: 40px;
    margin: 10px;
}
body{
    display: grid;
    grid-template-columns : repeat(3,1fr);
    grid-gap: 10px;
    grid-template-areas: "head" "main" "body"
    "footer1" "footer2";
}
.about{
    background-color: burlywood;
    grid-area: head;
}
.achievements{
    background-color: wheat;
    grid-area: main;
}
.quotes{
    background-color: tan;
    grid-area: body;
}
.Long{
    background-color: rgb(244, 205, 154);
    grid-area: footer1;
}
.speech{
    background-color: rgb(238, 207, 149);
    grid-area: footer2;
}
button:hover{
animation-name: like;
animation-duration: 2s;
animation-fill-mode: forward;
}
@keyframes like{
10%{
    background-color: rgb(199, 182, 234);
}
}
</style>
